
body {
    width: 100%;
    height: 100vh;
    }

.box {
    width: 200px;
    height: 200px;
    border: lightblue 2px dotted;
    
}

.box1 {
    background-color: aqua;
    float: left;
    font: black 10px solid;
}

.box2 {
    background-color: cadetblue;
    float: left
}

.box3 {
    background-color: darkslategray;
    float: left
}

.box4 {
    background-color: midnightblue;
    float: left
}

.box5 {
    background-color: black;
    float: left
}

.message {
    font-family: 'Montserrat Subrayada', sans-serif;
    position: absolute;
    z-index: 1;
}
    
